.circle1 {
    margin-top: 10px;
    height: 10px;
    width: 10px;
    background-color: lightblue;
    border-radius: 50%;
  }

  .circle2 {
    margin-top: 10px;
    height: 10px;
    width: 10px;
    background-color: lightcoral;
    border-radius: 50%;
  }

  .circle3 {
    margin-top: 10px;
    height: 10px;
    width: 10px;
    background-color: goldenrod;
    border-radius: 50%;
  }