.form-wrapper {
  span {
    flex: 1;
    width: 300px;;
  }

  input {
    flex: 3;
  }
}

.test{
  display:flex;
}

.paidInput{
  flex:3;
  display:flex;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}